{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Comments{% endblock %}
{% block vendor_js %}
    {{ block.super }}
    <!-- Theme CSS styles for comments -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
{% endblock vendor_js %}
{% block content %}
    <div class="row mt-3">
        <div class="col-lg-4">
            <div class="card p-4 m-3">
                <h3>Leave a Comment</h3>
                <form id="commentForm"
                      method="post"
                      action="{% url 'comments:add' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ comments_form|crispy }}
                    {% if comments_form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in comments_form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                    <button type="reset" class="btn btn-outline-secondary">Discard</button>
                </form>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card p-4 m-3">
                <div class="d-flex justify-content-between">
                    <div>
                        <!-- Dropdown filter -->
                        <div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle"
                                        type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">Order by</button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item"
                                           href="?order_by=author&order_dir={{ request.GET.order_dir }}">User name</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                           href="?order_by=email&order_dir={{ request.GET.order_dir }}">E-mail</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                           href="?order_by=created_at&order_dir={{ request.GET.order_dir }}">Creation time</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-secondary">
                            <a class="dropdown-item"
                               href="?order_by={{ request.GET.order_by }}&order_dir=asc">Ascending</a>
                        </button>
                        <button type="button" class="btn btn-secondary">
                            <a class="dropdown-item"
                               href="?order_by={{ request.GET.order_by }}&order_dir=desc">Descending</a>
                        </button>
                    </div>
                </div>
                {% if comments %}
                <div class="mt-5">
                    {% for comment in comments %}
                        {% include 'partials/_comment.html' with comment=comment %}
                    {% endfor %}
                </div>
                <div class="mt-5">
                    {% if page_obj.has_previous or page_obj.has_next %}
                        {% include 'partials/_pagination.html' %}
                    {% endif %}
                </div>
                {% else %}
                <h2>There are no comments yet...</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
