{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Comments{% endblock %}
{% block vendor_js %}
    {{ block.super }}
    <!-- Theme CSS styles for comments -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
{% endblock vendor_js %}
{% block content %}
<div class="row mt-3">
    <div class="col-lg-4">
        <div class="card p-4 m-3">
            <h3>Leave a Comment</h3>
    <form method="post" action="{% url 'comments:all' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Post Comment</button>
    </form>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card p-4 m-3">
            <div class="">

            </div>
                            <h4 class="text-center mb-4 pb-2">Nested comments section</h4>
                                    {% for comment in comments %}
                                        {% include 'partials/_comment.html' with comment=comment %}
                                    {% endfor %}
                        </div>
        </div>
    </div>
{% endblock %}
